.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos .Par {
    background-color: #DDD;
}

.TabelaProdutos .Impar {
    background-color: #CCC;
}

.TabelaProdutos th {
    background-color: #0d1137;
    color: #FFF;
}
